
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>Search <br /></h4>

    <form action="Results" method="post">
        Id:<br>
        <input type="text" name="Id" value=""><br>
        Title:<br>
        <input type="text" name="Title" value=""><br>
        Author first name:<br>
        <input type="text" name="Firstname" value=""><br>
        Author last name:<br>
        <input type="text" name="Lastname" value=""><br>
        Keywords (;):<br>
        <input type="text" name="Keywords" value=""><br>

        Publisher:<br>
        <input type="text" name="Publisher" value=""><br>
        Date from - to:<br />
        <input type="date" name="DateFrom" min="1900-01-01" max="2018-12-31">
        -
        <input type="date" name="DateTo" min="1900-01-01" max=@DateTime.Now.Date><br />
        <br />
        <input id="BtnSearch" type="submit" value="Search" />
        <br /><br />
    </form>

</div>


