@{
    ViewBag.Title = "Results";
}
<div class="jumbotron">
    <h4>Results <br /></h4>
    <table style="width:100%;">
        <tr>
            <th>Firstname</th>
            <th>Second name</th>
            <th>Keywords</th>
            <th>Date</th>
            <th>Publisher</th>
            <th>Link or file</th>
        </tr>
        <tr>
            <td>Albert</td>
            <td>Einstein</td>
            <td>Light</td>
            <td>02.03.1933</td>
            <td>Einstein Publishing Co.</td>
            <td>"link"</td>
        </tr>
        <tr>
            <td>Marie</td>
            <td>Curie</td>
            <td>Radioactivity</td>
            <td>01.01.1900</td>
            <td>Curie Technologies</td>
            <td>"download btn"</td>
        </tr>
    </table>

    <h4>Summary - changing when clicking in table <br /></h4>
    <textarea id="TextArea1" rows="30" cols="2000">Albert Einstein was born in 1879 in Germany, 
the first child of a bourgeois Jewish couple. The young Albert displayed an early interest in science, 
but he was unhappy with the principles of obedience and conformity that governed his Catholic elementary school. 
At the age of ten, he began attending the Luitpold Gymnasium, though most of his education consisted of 
the study and reading he undertook on his own under the guidance of his Uncle Jakob and the young medical 
student and family friend Max Talmud. Talmud recommended popular science and philosophy books that 
put an abrupt end to the boy's short-lived but intense religious fervor, perhaps to the relief of 
his nonobservant parents.</textarea>

</div>