@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<div class="card text-center m-3">
    <div class="card-body text-center">
        <div class="text-center">
            <a href="https://www.usn.no/english/" target="_blank">
                <svg viewBox="0 0 413.6 70.9" id="logo_en" style="max-width:300px" width="100%" height="100%">
                    <g>
                        <path d="M131.9 1.2h3.3v13c0 2.4 1.3 3.9 3.9 3.9 2.6 0 4-1.5 4-3.8v-13h3.3v13.1c0 4.2-2.9 6.8-7.2 6.8s-7.2-2.5-7.2-6.8V1.2zM150.3 5.9h3.1v1.4h.1c.8-1 2.3-1.8 4-1.8 3.2 0 5.3 2 5.3 5.5v9.7h-3.1v-8.8c0-2.2-.8-3.4-2.9-3.4-1.9 0-3.2 1.2-3.2 3.1v9.2h-3.2V5.9zM166.7.4h3.3v3.1h-3.3V.4zM166.8 5.9h3.2v14.8h-3.2V5.9zM172.3 5.9h3.3l4 10.2h.1l4-10.2h3.3l-5.9 14.8h-2.6L172.3 5.9zM201 17.7c-1.1 1.8-3 3.5-6.1 3.5-4 0-6.9-3-6.9-7.8 0-4.8 2.9-7.8 6.8-7.8 3.8 0 6.7 3 6.7 7.8v.9h-10.3c.1 2.4 1.3 4 3.7 4 2.3 0 3.3-1.5 3.9-2.5L201 17.7zM198.3 11.9c-.1-2-1.3-3.5-3.6-3.5-2.3 0-3.5 1.8-3.6 3.5H198.3zM204.6 5.9h3v1.6h.1c.6-1.1 1.8-1.8 3.1-1.8.5 0 1 .1 1.3.3L211.6 9c-.3-.1-.7-.2-1.2-.2-1.7 0-2.6 1.1-2.6 3.7v8.2h-3.2V5.9zM216.4 15.1c.3 2.2 1.5 3.4 3.6 3.4 2 0 3.1-.8 3.1-1.9 0-1.2-.9-1.4-4.1-2.3-3.3-.9-5-2.1-5-4.3 0-2.2 1.9-4.4 5.4-4.4 3.5 0 5.4 1.8 6 4.3l-2.7.8c-.5-1.4-1.3-2.5-3.4-2.5-1.7 0-2.5.8-2.5 1.6 0 1 .6 1.2 4.3 2.3 3.7 1.1 4.7 2.4 4.7 4.6 0 2.1-1.7 4.5-5.9 4.5-4.3 0-6.2-2.7-6.6-5.3L216.4 15.1zM229 .4h3.3v3.1H229V.4zM229.1 5.9h3.2v14.8h-3.2V5.9zM237.3 8.7h-2.2V5.9h2.3V2.3h3v3.6h3.7v2.7h-3.7v6.8c0 1.5.3 2.2 1.9 2.2h1.2v3.1h-1.4c-3.7 0-4.8-1.7-4.8-4.9V8.7zM251.1 20l-5.7-14.1h3.3l3.9 10.2h.1l3.9-10.2h3.3l-8.4 21h-3.1L251.1 20zM267.1 13.3c0-5 3.2-7.8 6.8-7.8 3.6 0 6.8 2.8 6.8 7.8 0 5-3 7.8-6.8 7.8C270.1 21.1 267.1 18.4 267.1 13.3zM277.6 13.3c0-3.2-1.5-4.9-3.7-4.9-2.1 0-3.7 1.7-3.7 4.9 0 3.3 1.5 4.9 3.7 4.9C276 18.3 277.6 16.5 277.6 13.3zM284.6 8.7h-2.2V5.9h2.3V3.8c0-2.6 1.4-3.4 3.6-3.4h2.7v2.8h-2.1c-1 0-1.3.3-1.3 1.3v1.4h3.7v2.7h-3.6v12h-3.1V8.7zM133.8 45.4c.5 3.1 1.4 4.7 4.4 4.7 2.4 0 3.8-1 3.8-2.6 0-1.6-.7-2.2-5.2-3.6-4.2-1.3-5.7-3.1-5.7-5.6 0-2.8 2.3-5.4 6.4-5.4 3.5 0 6.5 1.6 7.1 5.3l-3.2.8c-.5-1.7-1.4-3.1-3.9-3.1-2.2 0-3.2 1-3.2 2.3 0 1.3.6 1.7 4.9 3.1 4.7 1.6 5.9 3.1 5.9 5.9 0 3.3-2.6 5.9-7 5.9-4.5 0-7.2-2.3-7.8-7L133.8 45.4zM147.2 45.4c0-5 3.2-7.8 6.8-7.8 3.6 0 6.8 2.8 6.8 7.8 0 5-3 7.8-6.8 7.8C150.3 53.2 147.2 50.4 147.2 45.4zM157.8 45.4c0-3.2-1.5-4.9-3.7-4.9-2.1 0-3.7 1.7-3.7 4.9 0 3.3 1.5 4.9 3.7 4.9C156.2 50.3 157.8 48.6 157.8 45.4zM164 38h3.2v9.2c0 2.2.8 3 2.6 3 1.8 0 3-.9 3-3.2v-9h3.2v14.8h-3.1v-1.4h-.1c-.3.5-1.5 1.8-3.8 1.8-3.5 0-5-2.2-5-5.6V38zM180.8 40.7h-2.2V38h2.3v-3.6h3V38h3.7v2.7h-3.7v6.8c0 1.5.3 2.2 1.9 2.2h1.2v3.1h-1.4c-3.7 0-4.8-1.7-4.8-4.9V40.7zM190.6 32.4h3.2v7h.1c.6-1 2.4-1.9 4-1.9 3.1 0 5.3 2 5.3 5.4v9.8h-3.1v-9c0-1.8-1-3.2-3-3.2-1.9 0-3.1 1.3-3.1 3v9.3h-3.2V32.4zM206 42.2h7.3v2.5H206V42.2zM216.3 33.2h12.1v3h-8.9v5h8.1v2.9h-8.1v5.5h8.9v3h-12.1V33.2zM240.7 51.3L240.7 51.3c-.2.2-1.4 1.9-4.2 1.9-3.7 0-5.2-2.1-5.2-4.3 0-2.6 1.4-3.7 5-4.6 3.2-.8 4-1.1 4-2.2 0-.9-.8-1.8-2.7-1.8-2.3 0-2.9 1.3-3.3 2.6l-2.7-1c.6-2.3 2.5-4.3 5.9-4.3 3.3 0 6 1.6 6 5.6v9.6h-2.7V51.3zM234.3 48.6c0 1.2.8 1.8 2.4 1.8 2.5 0 3.6-1.2 3.6-2.5v-3h-.1c-.2.4-.4.8-3.4 1.5C234.6 47.1 234.3 47.8 234.3 48.6zM248.8 47.1c.3 2.2 1.5 3.4 3.6 3.4 2 0 3.1-.8 3.1-1.9 0-1.2-.9-1.4-4.1-2.3-3.3-.9-5-2.1-5-4.3s1.9-4.4 5.4-4.4c3.5 0 5.4 1.8 6 4.3l-2.7.8c-.5-1.4-1.3-2.5-3.4-2.5-1.7 0-2.5.8-2.5 1.6 0 1 .6 1.2 4.3 2.3 3.7 1.1 4.7 2.4 4.7 4.6 0 2.1-1.7 4.5-5.9 4.5-4.3 0-6.2-2.7-6.6-5.3L248.8 47.1zM262 40.7h-2.2V38h2.3v-3.6h3V38h3.7v2.7h-3.7v6.8c0 1.5.3 2.2 1.9 2.2h1.2v3.1h-1.4c-3.7 0-4.8-1.7-4.8-4.9V40.7zM283.4 49.7c-1.1 1.8-3 3.5-6.1 3.5-4 0-6.9-3-6.9-7.8 0-4.8 2.9-7.8 6.8-7.8 3.8 0 6.7 3 6.7 7.8v.9h-10.3c.1 2.4 1.3 4 3.7 4 2.3 0 3.3-1.5 3.9-2.5L283.4 49.7zM280.8 43.9c-.1-2-1.3-3.5-3.6-3.5-2.3 0-3.5 1.8-3.6 3.5H280.8zM287.1 38h3v1.6h.1c.6-1.1 1.8-1.8 3.1-1.8.5 0 1 .1 1.3.3l-.5 3.1c-.3-.1-.7-.2-1.2-.2-1.7 0-2.6 1.1-2.6 3.7v8.2h-3.2V38zM297.2 38h3.1v1.4h.1c.8-1 2.3-1.8 4-1.8 3.2 0 5.3 2 5.3 5.5v9.7h-3.1v-8.8c0-2.2-.8-3.4-2.9-3.4-1.9 0-3.2 1.2-3.2 3.1v9.2h-3.2V38zM320 33.2h3.4l7.7 13.8h.1V33.2h3.3v19.5h-3.3l-7.8-13.8h-.1v13.8H320V33.2zM337.8 45.4c0-5 3.2-7.8 6.8-7.8 3.6 0 6.8 2.8 6.8 7.8 0 5-3 7.8-6.8 7.8C340.8 53.2 337.8 50.4 337.8 45.4zM348.4 45.4c0-3.2-1.5-4.9-3.7-4.9-2.1 0-3.7 1.7-3.7 4.9 0 3.3 1.5 4.9 3.7 4.9C346.8 50.3 348.4 48.6 348.4 45.4zM354.6 38h3v1.6h.1c.6-1.1 1.8-1.8 3.1-1.8.5 0 1 .1 1.3.3l-.5 3.1c-.3-.1-.7-.2-1.2-.2-1.7 0-2.6 1.1-2.6 3.7v8.2h-3.2V38zM363.6 38h3.1l2.1 10.3h.1l3.5-10.3h2.9l3.3 10.2h.1l2.4-10.2h3.1l-3.5 14.8h-3.1l-3.6-11.1h-.1l-3.9 11.1h-3L363.6 38zM395.1 51.3L395.1 51.3c-.2.2-1.4 1.9-4.2 1.9-3.7 0-5.2-2.1-5.2-4.3 0-2.6 1.4-3.7 5-4.6 3.2-.8 4-1.1 4-2.2 0-.9-.8-1.8-2.7-1.8-2.3 0-2.9 1.3-3.3 2.6l-2.7-1c.6-2.3 2.5-4.3 5.9-4.3 3.3 0 6 1.6 6 5.6v9.6h-2.7V51.3zM388.7 48.6c0 1.2.8 1.8 2.4 1.8 2.5 0 3.6-1.2 3.6-2.5v-3h-.1c-.2.4-.4.8-3.4 1.5C389 47.1 388.7 47.8 388.7 48.6zM404.9 52.1L399.2 38h3.3l3.9 10.2h.1l3.9-10.2h3.3l-8.4 21h-3.1L404.9 52.1z">
                        </path>
                    </g>
                    <path d="M132.3 68.9H413.6V70.10000000000001H132.3zM0 1.2h11.4l0 42.6c0 5.6.4 9.7 2.9 14.2 3.2 5.8 8.8 9.2 17.7 9.2 14.4 0 19-7.5 19-13.9 0-8.6-11.4-12.5-22.2-17.5-9.6-4.4-11.7-11.7-10.2-20C20.3 7.1 28.3 0 42 0c9.8 0 15.1 1 21.3 1.8l36.8 48.5 0-49.1 13.4 0v3.5h-9.3l0 65.4H101L60.7 17.2v19.9c-1-1.3-2.4-2.6-4.1-3.9V11.5c-1.3-4.3-5.6-8-14.4-8.2C35 3.1 28.7 6.4 27.6 13.7c-1.5 9.5 7 11.8 18.2 17.3C58 36.8 60.9 42.6 60.9 49.1c0 9.2-10.1 21.7-29 21.7-10.4 0-19-3.1-24.6-8.8C1.3 55.9 0 50.6 0 40.9 0 40.6 0 1.2 0 1.2z">
                    </path>
                </svg>
            </a>
        </div>
        <div>
            Kjølnes ring 56 <br />
            3918 Porsgrunn - NORWAY<br />
        </div>
    </div>
</div>

<div class="card text-center m-3">
    <div class="card-body text-center">
        <div class="text-center">
            <a href="https://www.sthf.no/" target="_blank">
                <img src="https://www.sthf.no/Style%20Library/images/logo.svg" style="max-width:300px" />
            </a>
        </div>
        <div>
            <a href="mailto:postmottak@sthf.no">postmottak@sthf.no</a> <br />
            Sykehuset Telemark, Aallsgate 41 <br />
            3922 Porsgrunn - NORWAY<br />
        </div>
    </div>
</div>

<div class="card text-center m-3">
    <div class="card-body text-center">
        <div class="text-center pb-3">
            <a class="text-center" href="https://www.halvorsen.blog/documents/projects/projectmanagement/dashboard.php?projectguid=5B694A2722018" target="_blank">
                <img src="~/Content/Images/LogoBig.svg" alt="Project logo" style="max-width:300px" />
            </a>
        </div>
        <div>
            <a href="mailto:grenland.ems.project@gmail.com">grenland.ems.project@gmail.com</a>
            <address>
                Kjølnes ring 56 <br />
                3918 Porsgrunn - NORWAY<br />
            </address>
        </div>
    </div>
</div>

<div class="card text-center m-3">
    <div class="card-body text-center">
        <div class="text-center">
            <a href="https://www.halvorsen.blog/" target="_blank">
                <i class="fa fa-h-square h-logo"></i>
            </a>
        </div>
        <div>
            The Technical Guy<br />
        </div>
    </div>
</div>






@*<address>
        <strong>The team:</strong> <a href="mailto:grenland.ems.project@gmail.com">grenland.ems.project@gmail.com</a>
    </address>


    <g>
        <g class="[object Object]" data-noun-id="5932" data-attribution="" transform="scale(1.25)">
            <path d="M32.906,61.613c-0.326,0-0.59,0.264-0.59,0.59c0,10.089,8.208,18.297,18.296,18.297c0.326,0,0.589-0.264,0.589-0.59  C51.202,69.821,42.995,61.613,32.906,61.613z" transform="translate(-13.72599983215332,-10.500000953674316)" fill="#000000"></path>
            <path d="M50.117,69.13c0.108,0.172,0.297,0.275,0.5,0.275s0.392-0.105,0.5-0.276c1.244-1.981,2.794-3.715,4.605-5.152  c0.178-0.141,0.258-0.37,0.21-0.592c-0.761-3.396-2.455-6.486-4.9-8.933c-0.23-0.23-0.604-0.23-0.834,0  c-2.455,2.451-4.151,5.54-4.905,8.935c-0.049,0.22,0.032,0.449,0.209,0.59C47.321,65.419,48.874,67.152,50.117,69.13z" transform="translate(-13.72599983215332,-10.500000953674316)" fill="#000000" />
            <path d="M68.319,61.611c-6.982,0-13.454,4.083-16.486,10.4c-0.07,0.148-0.078,0.319-0.017,0.473c0.901,2.282,1.376,4.681,1.41,7.127  c0.003,0.174,0.082,0.338,0.216,0.448c0.106,0.087,0.238,0.134,0.375,0.134c0.035,0,0.07-0.003,0.105-0.009  c8.685-1.588,14.986-9.15,14.986-17.982C68.909,61.876,68.646,61.611,68.319,61.611z" transform="translate(-13.72599983215332,-10.500000953674316)" fill="#000000" />
            <path d="M78.528,90.5H22.698c-4.947,0-8.972-4.024-8.972-8.972c0-1.773,0.516-3.483,1.493-4.955l23.88-51.938V16.77  c-1.474-0.268-2.594-1.56-2.594-3.11c0-1.743,1.417-3.16,3.16-3.16h21.897c1.742,0,3.16,1.417,3.16,3.16  c0,1.55-1.121,2.843-2.595,3.11v7.863l23.88,51.94c0.978,1.471,1.493,3.181,1.493,4.955C87.5,86.476,83.476,90.5,78.528,90.5z   M41.763,26.021l-23.87,51.916c-0.036,0.077-0.078,0.151-0.125,0.221c-0.682,0.995-1.042,2.16-1.042,3.37  c0,3.293,2.679,5.972,5.972,5.972h55.831c3.293,0,5.972-2.679,5.972-5.972c0-1.211-0.36-2.376-1.042-3.369  c-0.048-0.07-0.09-0.145-0.126-0.222L59.438,25.965c-0.193-0.249-0.311-0.557-0.311-0.89v-9.755c0-0.829,0.672-1.5,1.5-1.5h0.935  c0.088,0,0.16-0.072,0.16-0.161s-0.072-0.16-0.16-0.16H39.665c-0.088,0-0.16,0.072-0.16,0.16s0.072,0.161,0.16,0.161h0.934  c0.829,0,1.5,0.671,1.5,1.5v9.755C42.099,25.434,41.973,25.763,41.763,26.021z" transform="translate(-13.72599983215332,-10.500000953674316)" fill="#000000"></path>
        </g>
    </g>*@