@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h2>Contact</h2>

    <div class="card text-center m-3">
        <div class="card-body text-center">
            <div class="text-center">
                <a href="https://www.porsgrunn.kommune.no/" target="_blank">
                    <img src="~/Content/Images/porsgrunn-logo.png" alt="Porsgrunn logo" style="max-width:300px" />
                </a>
            </div>
            <div>
                <a href="mailto:postmottak@porsgrunn.kommune.no">postmottak@porsgrunn.kommune.no</a><br />
                Mail address: Pb. 128, 3901 Porsgrunn - NORWAY <br />
                <br />
                Phone: 35 54 70 00 <br />
                Visit adress: Storgata 153, Porsgrunn <br />
            </div>
        </div>
    </div>

    <div class="card text-center m-3">
        <div class="card-body text-center">
            <div class="text-center">
                <a href="https://www.usn.no/english/" target="_blank">
                    <img src="~/Content/Images/USNlogo.svg" alt="USN logo" style="max-width:300px" />
                </a>
            </div>
            <div>
                Kjølnes ring 56 <br />
                3918 Porsgrunn - NORWAY<br />
            </div>
        </div>
    </div>

    <div class="card text-center m-3">
        <div class="card-body text-center">
            <div class="text-center">
                <a href="https://www.sthf.no/" target="_blank">
                    <img src="https://www.sthf.no/Style%20Library/images/logo.svg" style="max-width:300px" />
                </a>
            </div>
            <div>
                <a href="mailto:postmottak@sthf.no">postmottak@sthf.no</a> <br />
                Sykehuset Telemark, Aallsgate 41 <br />
                3922 Porsgrunn - NORWAY<br />
            </div>
        </div>
    </div>

    <div class="card text-center m-3">
        <div class="card-body text-center">
            <div class="text-center pb-3">
                <a class="text-center" href="https://www.halvorsen.blog/documents/projects/projectmanagement/dashboard.php?projectguid=5B694A2722018" target="_blank">
                    <img src="~/Content/Images/LogoBig.svg" alt="Project logo" style="max-width:300px" />
                </a>
            </div>
            <div>
                <a href="mailto:grenland.ems.project@gmail.com">grenland.ems.project@gmail.com</a>
                <address>
                    Kjølnes ring 56 <br />
                    3918 Porsgrunn - NORWAY<br />
                </address>
            </div>
        </div>
    </div>

    <div class="card text-center m-3">
        <div class="card-body text-center">
            <div class="text-center">
                <a href="https://www.halvorsen.blog/" target="_blank">
                    <i class="fa fa-h-square h-logo"></i>
                </a>
            </div>
            <div>
                The Technical Guy<br />
            </div>
        </div>
    </div>
</div>
