@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Universitetet i Sørøst Norge<br />
    Kjølnes ring 56<br />
    3918 Porsgrunn<br />
    <abbr title="Phone">Phone:</abbr>
    +47 41 42 78 43
</address>

<address>
    <strong>The team:</strong> <a href="mailto:grenland.ems.project@gmail.com">grenland.ems.project@gmail.com</a>
</address>