@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h2>Home</h2>
    <p>
        This is a work in progress. Please report bugs to <a href="mailto:grenland.ems.project@gmail.com?subject=Bug%20report">grenland.ems.project@gmail.com</a>
        @*Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus gravida imperdiet risus at vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce eros urna, elementum in metus id, laoreet egestas risus. Donec quis consequat lorem, sed aliquet velit. Cras sed ornare metus, sit amet dictum elit. Quisque ut nisi porta, porttitor metus pretium, lacinia purus. Aliquam erat volutpat. Donec sed nunc augue. Proin lectus lorem, aliquam et libero quis, interdum finibus augue.

        Etiam ut ligula maximus, imperdiet mi sit amet, rhoncus dui. Nulla fringilla sapien volutpat, blandit justo in, lobortis tortor. Suspendisse convallis est tortor, at fermentum ligula iaculis ac. Aliquam vitae nunc et metus lobortis venenatis vitae eget mauris. Suspendisse auctor auctor nunc vitae aliquam. Quisque interdum urna in purus pellentesque luctus. Cras nisi arcu, aliquam non euismod eget, bibendum sed eros. Cras et ornare dolor.

        Phasellus at placerat mauris, pellentesque maximus augue. Aenean justo sem, condimentum ut nulla sit amet, lacinia volutpat nibh. Sed ut lectus dignissim, euismod augue a, consequat sem. Proin vitae lorem a arcu ultrices posuere in eu leo. Pellentesque imperdiet egestas ultricies. Donec condimentum leo ut cursus vehicula. Nam efficitur urna non tellus varius egestas. Cras ut massa ac purus luctus mattis. Maecenas suscipit ligula in accumsan tincidunt. Ut condimentum at massa lacinia dictum. Nullam ut commodo arcu. Phasellus non dapibus est.

        Sed mattis egestas ex, rhoncus varius orci mattis vitae. Curabitur aliquam est ante, eu cursus mi fermentum id. Vivamus in ipsum velit. In posuere nulla ut velit congue vestibulum. Curabitur convallis varius cursus. Donec sit amet velit sit amet sapien aliquet rhoncus a sed eros. Sed in diam velit. Mauris aliquam interdum bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut id mi nec lacus volutpat mollis non id ligula. Etiam ut purus in massa faucibus tempus. Phasellus vitae porta odio, sed egestas arcu. Suspendisse suscipit, eros tristique consequat sodales, elit nulla dictum ex, vel suscipit nisi mauris at erat. Pellentesque fringilla malesuada rhoncus. Praesent non lectus sem.

        Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis rutrum sem a nulla mattis, ut porttitor leo porttitor. Suspendisse hendrerit enim vel commodo pellentesque. In euismod dolor quis efficitur porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas feugiat, justo ut dignissim convallis, leo justo sagittis augue, at condimentum ante ante auctor ipsum.*@
    </p>
</div>
