@{
    ViewBag.Title = "Search";
}
<div class="jumbotron">
    <h4>Search <br /></h4>

    <form>
        Id:<br>
        <input type="text" name="id"><br>
        Title:<br>
        <input type="text" name="Title"><br>
        Author first name:<br>
        <input type="text" name="firstname"><br>
        Author last name:<br>
        <input type="text" name="lastname"><br>
        Keyword(s):<br>
        <input type="text" name="keywords"><br>
        Separate with ';' <br>
        Publisher:<br>
        <input type="text" name="publisher"><br>
        Date from:
        <input type="date" name="datefrom" min="1900-01-01" max="2018-12-31"><br />
        Date to:
        <input type="date" name="dateto" min="1900-01-01" max="2018-12-31">
    </form>

    <br>
    <select id="DropDownDatatype">
        <option>All datatypes</option>
        <option>Document</option>
        <option>Raw data</option>
    </select>
    <br />
    <input id="BtnSearch" type="button" value="Search" />

    <h4>Results - different section</h4><br />











</div>

