@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    

}

<div>
    <h4>Add Data <br /></h4>

    <form action="ValidateInput" method="post">
        Title:<br>
        <input type="text" name="Tittestle" value=""><br>
        Author first name:<br>
        <input type="text" name="Firstname" value=""><br>
        Author last name:<br>
        <input type="text" name="Lastname" value=""><br>
        Keyword(s):<br>
        <input type="text" name="Keywords" value=""><br>
        Separate with ';' <br>
        Publisher:<br>
        <input type="text" name="Publisher" value=""><br>
        Date published:
        <input type="date" name="DatePublished" min="1900-01-01" max="2018-12-31"><br />
        <br />
        <input id="InputFile" type="file" />
        <br />
        <br />
        <input id="BtnAddData" type="submit" value="Add Data" />
    </form>

</div>

<br />
<br />
test
<br />
<br />
